<h1>Posts</h1>
<ul>
  <% @posts.each do |p| %>
    <li><%= p.title %> - <%= p.description %></li>
  <% end %>
</ul>

<%= form_tag posts_path do %>
  <label>Post title:</label><br>
  <%= text_field_tag :'post[title]' %><br>

  <label>Post description:</label><br>
  <%= text_area_tag :'post[description]' %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
